/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .heads {
   color: #000;
   padding-bottom: 2px;
   border-bottom: 6px solid #f67408;
   font-family: "Open Sans", Arial, sans-serif;
 }
 .headS {
   color: #000;
   padding-bottom: 2px;
   font-family: "Open Sans", Arial, sans-serif;
   padding-top: 30px;
   padding-bottom: 30px;
 }

 .comment {
   color: #A9A9A9;
   padding: 0px;
   margin: 0px;
   text-align: center;
 }

 .enter {
   margin-top: 25px;
   color: #f67408;
 }

 .myndEnter {
   height: 100%;
   margin-top: 85px;
 }

 .myndWrap {
   float: right;
   margin: 10px;
   width: 150px;
 }

 .input-field input[type=text]:focus + label {
   color: #f67408 !important;
 }

 .input-field input[type=text]:focus {
   border-bottom: 1px solid #f67408 !important;
   box-shadow: 0 1px 0 0 #f67408 !important;
 }

 .enterText {
   text-align: justify;
   text-justify: inter-word;
 }


img {
  display:block;
  margin-right:auto;
  margin-left:auto;
}

.bottom {
  width: 100%;
}

.buttonRow {
  padding-top: 55px;
  padding-bottom: 100px;
}

.cart {
  vertical-align: bottom;
}


#mapid {
  height: 250px;
 }

* {
 font-family: "Open Sans", Arial, sans-serif;
}

.pushpin {
  margin-top: 40vh;
}

.smaller {
  margin-top: 45px;
  margin-bottom: 30px;
}

.card {
  border:1px solid #A9A9A9;
}

.cardImg {
  margin-top: 10px;
}

.cardBtn {
  margin-bottom: 10px;
}
