/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .heads {
   color: #f67408;
   padding-bottom: 1px;
   border-bottom: 3px solid #f67408;
 }
 .headS {
   color: #f67408;
   padding-bottom: 1px;
 }

 .comment {
   color: #A9A9A9;
   padding: 0px;
   margin: 0px;
   text-align: center;
 }

 .enter {
   margin-top: 25px;
   color: #f67408;
 }

 .myndEnter {
   height: 100%;
   margin-top: 85px;
 }

 .myndWrap {
   float: right;
   margin: 10px;
   width: 150px;
 }

 .input-field input[type=text]:focus + label {
   color: #f67408 !important;
 }

 .input-field input[type=text]:focus {
   border-bottom: 1px solid #f67408 !important;
   box-shadow: 0 1px 0 0 #f67408 !important;
 }

 .enterText {
   text-align: justify;
   text-justify: inter-word;
 }


img {
  display:block;
  margin-right:auto;
  margin-left:auto;
}

.bottom {
  width: 100%;
}

.cart {
  vertical-align: bottom;
}
